[submodule "vim-plugins/ctrlp"]
	path = vim-plugins/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim-plugins/vim-surround"]
	path = vim-plugins/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim-plugins/vim-airline"]
	path = vim-plugins/vim-airline
	url = https://github.com/vim-airline/vim-airline
