"*":
  core:
    telemetryConsent: "no"
  "exception-reporting":
    userId: "86d5f6e9-4932-4d35-86db-d870c51387b7"
  "linter-ui-default":
    panelHeight: 69
    showPanel: true
  semanticolor:
    cCakeFileLanguageCsharp:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    cLanguageC:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    cLanguageCsharp:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    cScriptFileLanguageCsharp:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    clojureLanguageClojure:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    coffeescriptLanguageCoffeeScript:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    coffeescriptLiterateLanguageCoffeeScript:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    colorOptions:
      fade: 40
      hues: 700
      luminosity: 50
      saturation: 90
    cssLanguageCss:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    defaults:
      "attribute-name": "colorize"
      comment: "contrast"
      constant_numeric: "theme"
      everythingElse: "theme"
      keyword: "mute"
      language: "mute"
      markup: "defer"
      name: "colorize"
      operator: "mute"
      primitive: "mute"
      punctuation: "defer"
      regexp: "theme"
      source: "colorize"
      storage_modifier: "mute"
      storage_type: "mute"
      string_quoted: "theme"
      support_constant: "theme"
      support_type: "colorize"
      variable: "colorize"
    gemfileLanguageRuby:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    gitConfigLanguageGit:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    goLanguageGo:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    htmlLanguageHtml:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    javaLanguageJava:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    javaPropertiesLanguageJava:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    javascriptLanguageJavascript:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: true
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    javascriptRailsLanguageRubyOnRails:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    lessLanguageLess:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    makefileLanguageMake:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    nantBuildFileLanguageCsharp:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    objectiveCLanguageObjectiveC:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    perl6LanguagePerl:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    perlLanguagePerl:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    phpLanguagePhp:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    propertyListOldStyleLanguagePropertyList:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    pythonLanguagePython:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    regularExpressionsPythonLanguagePython:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    rubyLanguageRuby:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    rubyOnRailsLanguageRubyOnRails:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    rubyOnRailsRjsLanguageRubyOnRails:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    sassLanguageSass:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    scssLanguageSass:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    sqlLanguageSql:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    sqlRailsLanguageRubyOnRails:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    stringsFileLanguageObjectiveC:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    tomlLanguageToml:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    xmlLanguageXml:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
    yamlLanguageYaml:
      "attribute-name": "default"
      comment: "default"
      constant_numeric: "default"
      enabled: false
      everythingElse: "default"
      keyword: "default"
      language: "default"
      markup: "default"
      name: "default"
      operator: "default"
      primitive: "default"
      punctuation: "default"
      regexp: "default"
      source: "default"
      storage_modifier: "default"
      storage_type: "default"
      string_quoted: "default"
      support_constant: "default"
      support_type: "default"
      variable: "default"
  welcome:
    showOnStartup: false
