"*":
  core:
    packagesWithKeymapsDisabled: [
      "mocha-fold"
    ]
    telemetryConsent: "no"
  editor:
    preferredLineLength: 120
  "exception-reporting":
    userId: "5e3846fa-db13-4236-8e63-6bbfae81bfa9"
  welcome:
    showOnStartup: false
